.contact-bar{
    margin-top:30px;
    background-color: rgb(92, 92, 92);
    align-items: center;
    color: rgb(255, 255, 255);
    width: 250px; 
    height:45px;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}